* {
    margin: 0;
    padding: 0;
}

body {
    /* coloca el contenido al centro */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;

}

#contenido_pincipal {
    /*  tamaño, color  del el contenido principal */
    width: 1700px;
    height: 1700px;
    margin: 0 auto;
    background: linear-gradient(to right, #f1eeed, #f7d3b8);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para mejorar la legibilidad del texto */

}

#contenido_pincipal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: initial;
    background-position: center;
    opacity: 0.6;
    /* Ajusta el valor de opacidad aquí */
    z-index: -1;
    filter: brightness(0.3);
    /* Opcional: para oscurecer un poco más la imagen */
}

#fixedMenu img {
    position: relative;
    right: 830px;
    top: 10px;

}


/*-------------------------------------- Menu horizontal estatico===============================*/
#fixedMenu {
    /* Asegura que el menú esté por encima de otros elementos */
    position: fixed;
    top: 0;
    width: 1700px;
    height: 50px;
    background-color: rgb(248, 123, 6);
    color: white;
    padding: 10px 0;
    z-index: 1000;

}

#fixedMenu ul {
    /* Centra los elementos del menú horizontalmente */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

#fixedMenu ul li {
    margin: 0 15px;
}

#fixedMenu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

#fixedMenu ul li a:hover {
    background-color: #607bc7;
    padding: 10px 20px 10px 20px;
}

#boton_lista li ul {
    /* ocultar los submenus de el menu */
    display: none;
    position: absolute;
    min-width: 140px;
}

#boton_lista li:hover ul {
    /* color de fondo del submenu */
    display: block;
    background: rgb(25, 51, 21);
    padding: 20px;
}

#boton_lista {
    position: relative;
    top: -40px;
}

#boton_lista li ul li {
    position: relative;

}

#content {
    /* Asegura que el contenido no esté oculto detrás del menú fijo */
    margin-top: 60px;
    padding: 20px;
}

section {
    margin: 50px 0;
}

p {
    /*justifica el texto de los parrafos*/
    text-align: justify;
}

/*=========================  Logotipo y lema ====================================*/
#logotipo {
    position: relative;
    left: 934px;
    top: 0px;


}

#logotipo img {
    height: 45px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /*aliniar al centro el logo*/
    position: relative;
    top: 70px;
}

#lema {
    display: flex;
    justify-content: right;
    /*aliniar a la derecha el lema*/
    position: relative;
    top: 535px;
    right: 200px;
    color:rgb(204, 84, 3) ;
}

/*=========================  Redes sociales ====================================*/
.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;

}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
}

.social img {
    /*tamaño de los iconos*/
    height: 25px;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-googleplus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail {
    background: #666;
}

.social ul li a:hover {
    /*efecto del puntero del mouse al pasar por encima de los iconos*/
    padding: 10px 30px;
    background: #38eaf7;
}

/*=================== seccion slide ==========================*/



#boton li ul {
    /* ocultar los submenus de el menu */
    display: none;
    /* ocultar los submenus de el menu */
    position: absolute;
    min-width: 250px;
}

#boton li:hover ul {
    /* color de fondo del submenu */
    display: block;
    /* aparece el subMenu */
    padding: 0px;
    white-space: nowrap;
    /*todo el contenido se mostrará en una sola línea, sin importar su longitud, y el texto no se ajustará automáticamente al ancho del contenedor.*/
}

/*===================  contenido =============================================*/
#content {
    padding: 0px;
    margin: 0px;
}

#section1 {
    padding: 0px;
    height: 470px;
}

#section2 {
    padding: 0px;
    margin: 0px;
    width: 350px;
    position: relative;
    top: 50px;
}

#section2 p {
    /*texto tamaño , margen padin de texto*/
    padding: 0px;
    margin: 0px;
    width: 450px;
    position: relative;

}

#section2 img {
    padding: 0px;
    margin: 0px;
    width: 450px;
    border-radius: 10%;
    /*borde de imagen ovalado*/

}

#section3 {
    padding: 0px;
    margin: 0px;
    width: min-content;
    position: relative;
    left: 480px;
    top: -480px;

}

#section3 img {
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 300px;
    border-radius: 10%;
    /*borde de imagen ovalado*/
}

#section3 p {
    padding: 0px;
    margin: 0px;
    width: 450px;
    height: 170px;
}

/*===================== Tres columnas Mision Vision =========== ===========================*/
#section4 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 300px;
    position: relative;
    left: -15px;
    top: -470px;

}


#columnas3 p {
    /*tamaño de las tres columnas */
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #f1f1f1;
    opacity: 0.8;
    /*ajustar la opacidad de Quienes,Mision,Vision*/
    height: auto;
    width: 245px;
    border: 1px solid #ddd;
}

#section4 #columnas3 p {
    height: 660px;

}
/*======================== Mapa localiizacion ===================*/
.imagenMapa{
    position: relative;
    top: -533px;
    left: 280px;
    width: 540px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    
}
.imagenMapa img{
    width: 540px;
}
/*======================== formulario ===================*/

/*======================== formulario ===================*/
#form {
    width: 940px;
    height: 700px;
    background: linear-gradient(to right, #f1eeed, #ececec);
    position: relative;
    top: 50px;
    left: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.contact_form h2 {
    border-radius: 5px;
    color: #ec600f;
    display: block;
    font-family: sans-serif;
    font-size: 40px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 833px;/*=======  largo del titulo de encuesta =========*/


}/*--- formulario de la derecha ---*/
.contact_form #form_derecha{
    position: relative;
    left: 469px;
    top:-590px
}

/*--- estilos para los ul y li delformulario ---*/
.contact_form ul {
    width: 750px;
    list-style-type: none; /*===  quitar el hiperbinculo de a ===*/
    margin: 0px;
    padding: 0px;


}

.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;

}
/*color de los titulos de el formulario*/
.contact_form label {
    color: #e05708;;
    /*display: inline-block;/* dos linear en los tiitulos*/
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 100px;
}

.contact_form input {
    height: 12px;
    width: 220px;
    padding: 5px 8px;


}
/*propiedades de select*/
.contact_form select {
    color: #e05708;;
    /*display: inline-block;/* dos linear en los tiitulos*/
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 260px;
}



.contact_form textarea {
    padding: 8px;
    width: 220px;

}


.contact_form button {
    margin-left: 290px;
    position: relative;
    top: 60px;
}


/*pe estilos visuales de los elementos -/ */
.contact_form select,
.contact_form input,
.contact_form textarea {
    border: 1px solid #c41717;
    box-shadow: Dpx Opx 3px fcoc, 0 10px 15px #eee inset;
    border-radius: 2px;
    color: #888;
    font-size: 14px;
    padding-right: 30px;
    -moz-transiticn: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;

}
.contact_form select:focus,
.contact_form input:focus,
.contact_form textarea:focus {
    background: #fff;
    border: 1px solid #f14e0e;
    box-shadow: 0 0 3px #aaa;
    padding-right: 80px;
}

/*   Estilos de Validacion===*/
.contact_form select:required:valid,
.contact_form input:required:valid,
.contact_form textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.contact_form select:focus:invalid,
.contact_form input:focus:invalid,
.contact_form textarea:focus:invalid {
    box-Shadow: 0 0 5px 4d45252;
    border-color: 403535 posan un E val Johan 1 invalid 123456780σ 9 10 11 12 13 14 15
}
input::placeholder {
    color: #6e1515; /* Color deseado para el placeholder */
    opacity: 2;  /* Asegúrate de que el color se muestre en todos los navegadores */
}
/*--- Estilos del boton de Envio */
button.submit {
    padding: 12px 37px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: -webkit-gradient (linear, 0% 0%, 0% 100%, from (#fff), to (#bbb));
    background-image: -moz-linear-gradient (0% 100% 90deg, #BBBBBB, #FFFFFF);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

}

button.submit:hover {
    opacity: .55;
    cursor: pointer;
    color: #CCCCCC;
    background-color: #ec3c10;
}

button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset;

}
/*==================  Menu vertical ==================================*/
#contenido {
    position: relative;
    top: 30px;
    left: 69px;
    width: 360px;
    height: min-content;
    /*ajusta al tamaño minimo*/
}
/*===================  Menu Vertical ==============================================*/
#MenuVertical #boton {
    /* estilo del menu vertical */
    position: relative;
    top: 0;
    width: 250px;
    padding: 0px 0px;
}

#MenuVertical ul {
    /* Centra los elementos del menú horizontalmente */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#MenuVertical ul li {
    margin: 0 15px;
    position: relative;
}

#MenuVertical ul li a {
    display: block;
    color: white;
    /*color de letra*/
    padding: 10px 0px 2px 10px;
    background-color:  rgb(248, 103, 6);
    /*color de fondo del menu*/
    text-decoration: none;
    /*para quitar la linea de hipervinculo*/

}

#MenuVertical ul li a:hover {
    background-color: #ffffff;
    color: rgb(248, 103, 6) ;
    padding: 10px 0px 2px 10px;
   
    /*todo el contenido se mostrará en una sola línea, sin importar su longitud, y el texto no se ajustará automáticamente al ancho del contenedor.*/
}

#MenuVertical ul li ul {
    /* sub menu a la derecha */
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 1px;
    padding-left: 0;
    white-space: nowrap;
    /*todo el contenido se mostrará en una sola línea, sin importar su longitud, y el texto no se ajustará automáticamente al ancho del contenedor.*/
}






/*===============  Web realizado por  ===========================*/
#direccion address {
     /*....Web realizado por: Usnayo*/
    position: relative;
    top: -170px;
    width: 960px;
    left: 910px;

}

/*================== Pie de pagina ==================================*/
#pie {
    position: relative;
    top: 78px;
    left: -70px;
    width: 1670px;
    padding: 15px;
    background: #fdfbfb;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#pie #creador {
    position: relative;
    background: rgb(204, 84, 3);
    text-align: right;
    padding: 10px;

}

#pie #creador a {
    position: relative;
    text-decoration: none;
    color: white;
    text-align: right;
}

#pie #creador p {
    position: relative;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
}

#pie #derechos p {
    position: relative;
    text-align: right;
    color: #fffbfb;
    font-weight: bold;

}

#pie #derechos p {
    font-size: 18px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    /* Borde negro alrededor del texto */
}

#pie #creador p {
    font-size: 19px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    /* Borde negro alrededor del texto */
}

/*-------------- contactos------------------- */
#faceContaco img{
    height: 29px;
}
#whatsapContacto img{
    height: 29px;
}
 a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

